<div class="container-fullwidth">
  <%= image_tag('full-succulent-banner.png', class: "hero") %>
</div>

  <div class="wrapper">
    <%= link_to store_items_path(@stores[1].slug) do  %>
      <div class="box succulent-store overlay">Sacred Thistle</div>
    <% end %>
    <%= link_to store_items_path(@stores[2].slug) do  %>
      <div class="box ceramics-store">Stone Leaf Pottery</div>
    <% end %>
    <%= link_to store_items_path(@stores[3].slug) do  %>
      <div class="box decor-store">Creative Living Décor</div>
    <% end %>
    <%= link_to store_items_path(@stores[4].slug) do  %>
      <div class="box candle-store">Aroma Candles</div>
    <% end %>
    <%= link_to store_items_path(@stores[5].slug) do  %>
      <div class="box soap-store">Lather Soap</div>
    <% end %>
    <%= link_to store_items_path(@stores[0].slug) do  %>
      <div class="box book-store">Book Bar</div>
    <% end %>
  </div>
