<div class="margin-bottom-10"></div>
<div class="flex-center">
  Login
</div>
<div class="container flex-center">
  <div class="row">
    <div class="col-12">
      <%= form_for(:session, url: login_path) do |f| %>

        <div class="form-group float-label-control">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control", type: "email"  %>
        </div>
        <div class="form-group float-label-control">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control"  %>
        </div>
        <div>
          <%= f.submit name="Login", class: "btn btn-primary" %>
        </div>
        <div>
          <small>Don't have an account with us? <%= link_to "Create an account", new_user_path %>.</small>
        </div>
      <% end %>
    </div>
  </div>
</div>
