<div class="container flex-center">
  <div class="row">
    <div class="col-12">
      <%= form_for @user do |f| %>
        <div class="form-group float-label-control">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group float-label-control">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <div class="form-group float-label-control">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control", type: "email" %>
        </div>
        <div class="form-group float-label-control">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group float-label-control">
          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control", type: "email" %>
        </div>
        <div><%= f.submit "Submit", class: "btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
</div>
