<div class="container">
  <h3>Platform Admin Dashboard</h3>
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <%= link_to "Update Account", edit_user_path(current_user), class: "nav-item nav-link" %>
    <%= link_to "View Analytics", admin_analytics_path, class: "nav-item nav-link" %>
    </div>
  </nav>
  <div class="container">
     <table class="table table-hover">
        <thead>
           <tr>
             <th>Store #</th>
             <th>Store Name</th>
             <th>Action Available</th>
             <th>Store Status</th>
             <th></th>
           </tr>
         </thead>
       </tbody>
        <% @stores.sort_by(&:id).each do |store| %>
          <tr class="store-<%= store.id %>">
            <th scope="row">
              <%= link_to store.id, stores_path(store) %>
            </th>
            <td><%= link_to store.name, store_items_path(store) %>
              </td>
                <% if store.status == 'pending' %>
                <td>
                  <%= link_to 'Approve', admin_stores_path(id: store.id, status: 'active'), class: 'btn btn-success', data: { method: :patch, params: { store: { status: 'active' } } } %>
                  <%= link_to 'Deny', admin_stores_path(id: store.id, status: 'denied'), class: 'btn btn-danger', data: { method: :patch, params: { store: { status: 'denied' } } } %>
                </td>
                  <% else %>
                  <td></td>
                <% end %>
                <td><%= store.status %></td>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
