<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title><%= @items.first.store.name %> Products</title>
</head>
<body>
  <div class="flex-center margin-top-5">
    <h1><%= @items.first.store.name %></h1>
  </div>
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="center-block">
          <div class="card border-white margin-top-5" style="width: 15rem;">
            <%= cl_image_tag item.image.url, size: "250" %>
            <div class="card-body info-section">
              <center><p><strong><%= link_to item.title, store_item_path(item.store.slug, item) %></strong></p>
                <!-- <p>Description: <%= item.description %></p> -->
                <p>Price: <%= number_to_currency(item.price) %></p>
                <% unless item.retired? %>
                  <%= link_to "Add to cart", carts_path(item_id: item.id), method: :post, class: "badge badge-primary" %></center>
            <% else %>
              <div class="badge badge-secondary">
                Retired
              </div>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</body>
